.orange {
    color: #fa7602;
}

.red {
    color: red;
}

.black {
    color: black;
}

.timerBox {
    padding: 0px;
    margin: 10px 20px;
    border-radius: 50px;
    border: 1px solid grey;
}

.timerBox h2 {
    margin: 0px 0px;
    padding: 8px;

}